# Nix
result*

# Misc
.direnv

# build files
esp32-scara-robot/build/
esp32-scara-robot/.cache/

# credentials
esp32-scara-robot/components/network/credentials.h

# Hexadecimal page_html.h
esp32-scara-robot/components/network/page_html.h
